body {
  margin: 0;
  width: 100%;
  overflow-x: hidden;
}

#main-container {
  width: 120vw;
  margin: -50px -5vw;
}

.piece1,
.piece2,
.piece3,
.piece4 {
  width: 210px;
  height: 220px;
  float: left;
  margin: -10px;
  opacity: .6;
}

.piece1 {
  width: 0;
  height: 0;
  transform: rotate(176deg);
  border-left: 20px solid transparent;
  border-right: 200px solid transparent;
  border-bottom: 200px solid green;
}

.piece2 {
  background-color: red;
  transform: rotate(30deg);
}

.piece3 {
  background-color: gold;
  transform: rotate(74deg);
}

.piece4 {
  background-color: black;
  transform: rotate(57deg);
}
