body {
  text-align: center;
  background-color: white;
}
h1 {
  font-size: 70px;
  text-decoration: underline;
  font-family: sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: rgba(90, 14, 30, 1);
}
h2 {
  font-size:35px;
  text-decoration: underline;
  font-family: sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: rgba(90, 14, 30, 1);
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  font-size: 24px;
  margin-bottom: 24px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  font-family: sans-serif;
}
a {
  color: rgba(90, 14, 30, 1);
  text-decoration: none;
  transition: color 1.2s ease;
}
a:hover {
  text-decoration: underline;
  color: grey;
}
