html{
  font-size: 16px;
}
body{

}
div {
  width: 40vw;
  margin: 100px auto;
}
h1{
  font-size: 5.7em;
}
h2 {
  font-size: 4.3em;
}
h3{
  font-size: 2.8em;
}
h4{
  font-size: 1.6em;
}
p {
  font-size: 1.2em;
}
ol{
  font-size: 1.2em;
}
li{

}
.intro {
  font-size: 1.6em;
}
