html{
  font-size: 16px;
  background-color: darkgrey;
}
div {
  width: 40vw;
  margin: 100px auto;
}
h1{
  font-size: 5.7em;
}
h2 {
  font-size: 4.3em;
}
h3{
  font-size: 2.8em;
}
h4{
  font-size: 1.6em;
}
p {
  font-size: 1.2em;
}
ol{
  font-size: 1.2em;
}
.intro {
  font-size: 1.6em;
}

@media only screen and (max-width: 600px) {
  html{
    background-color: black;
  }
  h1{
    font-size: 3em;
    color: white;
    font-style: italic;
    font-variant: small-caps;
  }
  h2 {
    font-size: 2em;
    color: white;
    font-style: italic;
    font-variant: small-caps;
  }
  h3{
    font-size: 1.8em;
    color: white;
    font-style: italic;
    font-variant: small-caps;
  }
  h4{
    font-size: 1.4em;
    color: white;
    font-style: italic;
    font-variant: small-caps;
  }
  p {
    font-size: 1.2em;
    color: white;
  }
  ol{
    font-size: 1em;
    color: white;
  }
  .intro {
    font-size: 1.1em;
    color: white;
  }
}
